<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--spring父容器负责扫描非@controller注解的bean，比如@Service @Component注解的bean-->
    <!--<context:component-scan base-package="com.cn">
        &lt;!&ndash;排除扫描controller注解的&ndash;&gt;
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>-->

    <!--如果不排除，扫描com.cn包下所有的，这个时候spring父容器里面既包含了@Controller注解的bean，也包含了@Service注解的bean，所以service中能够引用controller-->
    <context:component-scan base-package="com.cn.ioc3"/>

	<bean id="factoryBeanLearn" class="com.cn.ioc3.FactoryBeanLearn"></bean>
</beans>